*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FCFAF8;
  min-height: 100vh;
  color: #2F343A;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

a { text-decoration: none; color: inherit; }

input, textarea, button { font-family: inherit; }
